.message-container
  %a{ name: "message-#{message.id}"}
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        -if message.can_be_deleted_by? current_user
          .pull-right
            =button_to [message.project, message], method: :delete, data: { confirm: t('are_you_sure') }, class: "btn btn-xs btn-danger" do
              %i.fa.fa-trash.fa-fw

        %i.fa.fa-envelope-o
        = message.title

    %ul.list-group
      %li.list-group-item
        = message.content

      %li.list-group-item
        %span.small
          ="#{message.user.name}, #{l(message.created_at, format: :short)}"
        -if message.can_be_commented_on_by? current_user
          .pull-right
            =button_to "#", method: :get, class: "btn btn-default btn-xs new-comment-button", type: "button", data: { message_id: message.id } do
              %i.fa.fa-comment-o.fa-fw
              =t('comment.create')

  -if message.can_be_commented_on_by? current_user
    =render 'comments/new', message: message

  -if message.comments_allowed?
    =render message.comments
