%footer.footer
  .container
    .row
      .col-md-4
        %h6= t('footer.information')
        %ul
          %li
            =link_to about_path do
              %i.fa.fa-fw.fa-info.fa-1x
              %span= t('footer.about')
          %li
            =link_to contact_path do
              %i.fa.fa-fw.fa-envelope-o
              %span= t('footer.contact')

      .col-md-4
        %h6= t('footer.legal')
        %ul
          %li
            =link_to imprint_path do
              %span= t('footer.imprint')
          %li
            =link_to terms_path do
              %span= t('footer.terms')

      .col-md-4
        %h6= t('footer.follow_us')
        %ul
          -Settings.social_media&.each do |sm|
            %li
              =link_to sm[:url] do
                %i{ class: "fa fa-fw #{sm[:fa_icon]} social-media-icon" }
                %span= sm[:text]

    .row.fosterfork
      .col-md-12
        .center
          %p.small
            =link_to "https://github.com/FosterFork/FosterFork", target: :new do
              %i.fa.fa-tree
              %i.fa.fa-code-fork
