-if Settings.sharing&.any?
  .panel.panel-default
    .panel-heading
      %i.fa.fa-share-alt
      =t('share.title')
    .panel-body
      .share-panel
        %ul
          %li
            =link_to "http://" do
              %i.fa.fa-facebook-square.fa-3x
              %span= t('share.facebook')
          %li
            =link_to "http://" do
              %i.fa.fa-twitter-square.fa-3x
              %span= t('share.twitter')
          %li
            =link_to "http://" do
              %i.fa.fa-google-plus-square.fa-3x
              %span= t('share.google-plus')
          %li
            =link_to "http://" do
              %i.fa.fa-xing-square.fa-3x
              %span= t('share.xing')
          %li
            =link_to "http://" do
              %i.fa.fa-linkedin-square.fa-3x
              %span= t('share.linkedin')
          %li
            =link_to "http://" do
              %i.fa.fa-envelope-square.fa-3x
              %span= t('share.mail')
          %li
            =link_to project_path(@project, format: :atom) do
              %i.fa.fa-rss-square.fa-3x
              %span= t('share.mail')
