#map-container
  #map{ "data-categories": @categories_data.to_json, "data-projects": @projects_data.to_json }

:javascript
  customMarker = L.Marker.extend({
     options: { content_url: "" }
  });

  markers = L.markerClusterGroup();
  var openMarker = null;
  var icons = []

  data = $('#map').data('categories')
  data.forEach(function(d) {
    icons[d.id] = L.VectorMarkers.icon({
      markerColor: d.color,
      icon: "dot-circle-o",
    });
  });

  data = $('#map').data('projects')
  data.forEach(function(d) {
    m = new customMarker([ d.x, d.y ], { icon: icons[d.cat_id], content_url: d.url });
    m.bindPopup("<div class='popup-dummy'><p>Loading ... </p><i class='fa fa-spinner fa-spin fa-3x'></i></div>");
    markers.addLayer(m);

    if (d.open)
      openMarker = m;
  });

  if (openMarker) {
    latlng = openMarker.getLatLng();
    zoom = 15;
  } else {
    latlng = L.latLng(#{Settings.mapview.default_latitude}, #{Settings.mapview.default_longitude});
    zoom = #{Settings.mapview.default_zoom};
  }

  var mapview = L.map('map').setView(latlng, zoom);
  createMapLayer('#{Settings.mapview.mapbox.project_id}', '#{Settings.mapview.mapbox.key}').addTo(mapview);

  mapview.on('popupopen', function(e) {
    $.ajax({
      url: e.popup._source.options.content_url,
      context: document.body,
      success: function(content) {
        e.popup.setContent(content);
      }
    });
  });

  mapview.addLayer(markers);

  if (openMarker)
    openMarker.openPopup();

  L.control.locate()
           .addTo(mapview);