#map-container
  #map{ "data-categories": @categories_data.to_json, "data-projects": @projects_data.to_json }
    .overlay.hidden-xs
      -@categories.each do |c|
        %p
          %span.label{ style: "background-color: #{c.color}" }
            =label_tag c.id do
              =c.translated_name

:javascript
  categories = $('#map').data('categories');
  projects = $('#map').data('projects');
  markers = createMapMarkerLayer(categories, projects, true, false);

  if (window.openMarker) {
    latlng = window.openMarker.getLatLng();
    zoom = 15;
  } else {
    latlng = L.latLng(#{Settings.mapview.default_latitude}, #{Settings.mapview.default_longitude});
    zoom = #{Settings.mapview.default_zoom};
  }

  var mapview = L.map('map').setView(latlng, zoom);
  createMapLayer({ id: '#{Settings.mapview.mapbox.project_id}', accessToken: '#{Settings.mapview.mapbox.key}' }).addTo(mapview);

  mapview.on('popupopen', function(e) {
    $.ajax({
      url: e.popup._source.options.content_url,
      context: document.body,
      success: function(content) {
        e.popup.setContent(content);
      }
    });
  });

  mapview.addLayer(markers);

  if (window.openMarker)
    window.openMarker.openPopup();

  L.control.locate()
           .addTo(mapview);
