.container
  .row
    .col-md-12
      .jumbotron
        %h1.welcome= @welcome_textblock.title
        =layout_render_textblock(@welcome_textblock)

        -if @images.any?
          #carousel
            =render 'shared/carousel', images: @images
        -else
          =link_to map_path do
            #map{ "data-categories": @categories_data.to_json, "data-projects": @projects_data.to_json }

        =link_to map_path, { class: "btn btn-default btn-lg", role: 'button' } do
          %i.fa.fa-map-o
          =t('go_to_map')

        =link_to projects_path, { class: "btn btn-default btn-lg", role: 'button' } do
          %i.fa.fa-th-list
          =t('go_to_projects')

        =link_to instructions_path, { class: "btn btn-default btn-lg", role: 'button' } do
          %i.fa.fa-lightbulb-o
          =t('footer.instructions')

:javascript
  if ($('#map')) {
    categories = $('#map').data('categories');
    projects = $('#map').data('projects');

    var mapview = L.map('map', { zoomControl:false })
                   .setView([#{Settings.mapview.default_latitude}, #{Settings.mapview.default_longitude}], #{Settings.mapview.default_zoom - 2});
    createMapLayer({ id: '#{Settings.mapview.mapbox.project_id}',
                     accessToken: '#{Settings.mapview.mapbox.key}',
                   }).addTo(mapview);
    createMapMarkerLayer(categories, projects).addTo(mapview);
  }